.DS_Store
.dart_tool/

.packages
.pub/

build/
ios/.generated/
ios/Flutter/Generated.xcconfig
ios/Runner/GeneratedPluginRegistrant.*
/.project

example/ios/Flutter/Flutter.podspec
example/.flutter-plugins-dependencies

