.DS_Store
.atom/
.idea/
**/.idea/
*.old

.packages
.pub/
.dart_tool/
pubspec.lock
flutter_export_environment.sh

Podfile
Podfile.lock
Pods/
.symlinks/
**/Flutter/App.framework/
**/Flutter/ephemeral/
**/Flutter/Flutter.framework/
**/Flutter/Generated.xcconfig
**/Flutter/flutter_assets/

ServiceDefinitions.json
xcuserdata/
**/DerivedData/

local.properties
keystore.properties
.gradle/
gradlew
gradlew.bat
gradle-wrapper.jar
.flutter-plugins-dependencies
*.iml

build/
.flutter-plugins

.project
.classpath
.settings
/.fvm

.melos_tool/
**/*.env

lcov.info