name: Base

on:
  push:
    branches: [main]
    tags:
      - '[0-9]+.[0-9]+.[0-9]'
      - '[0-9]+.[0-9]+.[0-9]+\+[0-9]+'

  pull_request:
    branches: [main]

  workflow_dispatch:


# This ensures that previous jobs for the PR are canceled when PR is updated
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    permissions:
      contents: read
    uses: flutter-form-builder-ecosystem/.github/.github/workflows/minimal-quality.yaml@main
    with:
      codecov-name: flutter_form_builder
      enable-fix-tests: true
  example:
    permissions:
      contents: read
    uses: flutter-form-builder-ecosystem/.github/.github/workflows/build-examples.yaml@main


  deployment:
    permissions:
      id-token: write
      contents: write
    uses: flutter-form-builder-ecosystem/.github/.github/workflows/deployment.yaml@main
    if: ${{ github.ref_type == 'tag' }}
    needs: [build, example]
